
img {
    max-width: 100%;
}


.col-btn {
    display: flex;
    align-items: center;
}

.col-btn button {
    margin-left: 1rem;
}

header {
    height: 70px;
}

.container_main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.box {
    aspect-ratio: 1;
    border: 1px solid;
}

.bg-lightblue {
    background-color: paleturquoise;
}
.bg-red {
    background-color: rgb(255, 0, 217);
}

main {
    background-color: rgba(127, 255, 212, 0.547);
}


/* footer */

footer {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}